includes:
    - 'vendor/phpstan/phpstan/conf/bleedingEdge.neon'
    - 'phpstan-baselines.php'

parameters:
    level: max
    tmpDir: 'var/cache/phpstan'
    paths:
        - 'src'
        - 'tests'
    reportUnmatchedIgnoredErrors: false # this helps in dealing with multiple PHP versions
    checkFunctionNameCase: true
    checkUninitializedProperties: true
    tipsOfTheDay: false
