parameters:
	ignoreErrors:
	    - "#^Method.*type specified\\.#" #Method XXX has no return type specified.
	    - "#^Property.*type specified\\.#" #Property XXX has no type specified.
	    - "#^Cannot.* on mixed\\.#" #Cannot call method XXX on mixed.
	    - "#^Cannot cast mixed to.*\\.#" #Cannot cast mixed to XXX.
	    - "#^Parameter.*given\\.#" #Parameter XXX expects YYY, ZZZ given.
	    - "#^Property.*does not accept.*\\.#" #Property XXX does not accept mixed.
	    - "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.#"
	    - "#^ArrayObject<.*> does not accept array<.*>\\.#" #ArrayObject<*NEVER*, *NEVER*> does not accept array<XXX, mixed>.
	    - "#^Method.* should return.*but returns mixed\\.#" #Method XXX should return YYY but returns mixed.
	    - "#^Unable to resolve the template type T in call to method Doctrine\\\\Instantiator\\\\Instantiator::instantiate\\(\\)#"

	    # In the tests folder
	    - "#^Call to method expects\\(\\) on an unknown class .*\\.#"
	    - "#^Function .* type specified\\.#"
	    - "#^Cannot access offset 'readonly' on .*\\.#"
	    - "#^Method .* has invalid return type PHPUnit_Framework_MockObject_MockObject\\.#"
	    - "#^Return type mixed of method .*\\n.*\\.#"
	    - "#Property.*only written\\.#"
	checkGenericClassInNonGenericObjectType: false

